@media only screen and (min-width: 375px){
.bigcontainer{
    display: flex;
    justify-content: center;
    max-width: 330px;
    height: 60%;
        
    .cardcontainer{
        max-width: 80%;

        .text{
            flex-wrap: wrap;
        }
}
}
}


@media only screen and (max-width: 1440px){
    .bigcontainer{
        display: flex;
        justify-content: center;
        height: 100%;
            
        .cardcontainer{
            max-width: 100%;
        }
    }
}
    